.stat-card {

  background:white;

  padding:20px;

  border-radius:15px;

  display:flex;

  align-items:center;

  gap:15px;

  box-shadow:0 5px 15px rgba(0,0,0,.05);

  transition:.2s ease;

}


.stat-card:hover {

  transform:translateY(-3px);

}


.stat-icon {

  width:55px;

  height:55px;

  border-radius:50%;

  display:flex;

  justify-content:center;

  align-items:center;

  font-size:28px;

  background:#f1f3f8;

}


.stat-card h3 {

  margin:0;

  font-size:15px;

  color:#666;

}


.stat-card strong {

  display:block;

  margin-top:5px;

  font-size:28px;

}