.product-story {

width:120px;
height:210px;

border-radius:14px;

overflow:hidden;

position:relative;

background:black;

cursor:pointer;

box-shadow:
0 2px 8px rgba(0,0,0,.15);

flex-shrink:0;

}



/* IMAGE + VIDEO */

.product-story-image,
.product-story-video {

width:100%;
height:100%;

object-fit:cover;

}



/* DARK OVERLAY */

.product-story-info {

position:absolute;

bottom:0;
left:0;
right:0;

padding:8px;

background:
linear-gradient(
transparent,
rgba(0,0,0,.85)
);

color:white;

}



/* BUSINESS USER */

.product-story-user {

display:flex;

align-items:center;

gap:6px;

font-size:12px;

font-weight:bold;

margin-bottom:6px;

}



.product-story-user img {

width:28px;
height:28px;

border-radius:50%;

object-fit:cover;

border:2px solid white;

}





/* PRODUCT SCROLL AREA */

.product-scroll {

display:flex;

gap:8px;

overflow-x:auto;

padding-bottom:4px;

}



.product-scroll::-webkit-scrollbar{

display:none;

}





.product-item {

min-width:75px;

background:white;

color:black;

border-radius:10px;

padding:5px;

cursor:pointer;

}



.product-item img {

width:65px;

height:55px;

object-fit:cover;

border-radius:7px;

}



.product-item h4 {

font-size:10px;

margin:2px 0;

overflow:hidden;

white-space:nowrap;

}



.product-item p {

font-size:11px;

font-weight:bold;

margin:0;

}






/* SHOP BUTTON */

.shop-now {

margin-top:6px;

width:100%;

border:none;

background:#1877f2;

color:white;

border-radius:15px;

padding:6px;

font-size:12px;

font-weight:bold;

cursor:pointer;

}



.shop-now:hover{

opacity:.9;

}